* {
  margin: 0px;
  padding: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.attribution {
  font-size: 13px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --Moderate_violet: hsl(263, 55%, 52%);
  --Light_gray: hsl(0, 0%, 81%);
  --Light_grayish_blue: hsl(210, 46%, 95%);
  --Moderate_violet: hsl(263, 55%, 52%);
  --Very_dark_grayish_blue: hsl(217, 19%, 35%);
  --Very_dark_blackish_blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
}
@media screen and (max-width: 375px) {
  body {
    background-color: var(--Light_grayish_blue);
    padding: 50px 20px 50px 20px;
  }
  .section_1 {
    background-color: var(--Moderate_violet);
    padding: 30px;
    border-radius: 20px;
    color: var(--White);
    margin-bottom: 30px;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 23%);
    .story_line {
      margin-top: 20px;
      opacity: 70%;
    }
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
    /* styling for the profile section */
  }
  /* section 2 */
  .section_2 {
    background-color: var(--Very_dark_grayish_blue);
    padding: 30px;
    border-radius: 20px;
    color: var(--White);
    margin-bottom: 30px;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 23%);
    .story_line {
      margin-top: 20px;
      opacity: 70%;
    }
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
    /* styling for the profile section */
  }
  /* section 3 */
  .section_3 {
    background-color: var(--White);
    padding: 30px;
    border-radius: 20px;
    color: var(--Very_dark_grayish_blue);
    margin-bottom: 30px;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 23%);
    .story_line {
      margin-top: 20px;
      opacity: 70%;
    }
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
    /* styling for the profile section */
  }
  /* section 4 */
  .section_4 {
    background-color: var(--Very_dark_blackish_blue);
    padding: 30px;
    border-radius: 20px;
    color: var(--White);
    margin-bottom: 30px;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 23%);
    .story_line {
      margin-top: 20px;
      opacity: 70%;
    }
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
    /* styling for the profile section */
  }
  /* section 5 */
  .section_5 {
    background-color: var(--White);
    padding: 30px;
    border-radius: 20px;
    color: var(--Very_dark_grayish_blue);
    margin-bottom: 30px;
    box-shadow: 0px 20px 30px 0px rgb(0 0 0 / 23%);
    .story_line {
      margin-top: 20px;
      opacity: 70%;
    }
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
    /* styling for the profile section */
  }
}
/* desktop versoion */
@media screen and (min-width: 376px) and (max-width: 1440px) {
  body {
    background-color: var(--Light_grayish_blue);
    padding: 80px;
    font-size: 13px;
  }
  /* styling for the profile section */
  .profile_section {
    display: flex;
    margin-bottom: 20px;
    /* profile icon */
    img {
      border-radius: 100px;
      width: 30px;
    }
    span {
      margin-left: 20px;
      h5 {
        font-weight: 15px;
      }
      .status {
        font-size: 13px;
        opacity: 50%;
      }
    }
  }
  /* styling for the profile section */
  .section_1 {
    background-color: var(--Moderate_violet);
    padding: 3%;
    border-radius: 20px;
    grid-area: 1 / 5 / 6 / 6;
  }
  .section_2 {
    background-color: var(--Very_dark_grayish_blue);
    padding: 3%;
    border-radius: 20px;
    grid-area: 1 / 4 / 4 / 5;
  }
  .section_3 {
    background-color: var(--White);
    padding: 3%;
    border-radius: 20px;
    grid-area: 1 / 1 / 4 / 4;
  }
  .section_4 {
    background-color: var(--Very_dark_blackish_blue);
    padding: 3%;
    border-radius: 20px;
    grid-area: 4 / 3 / 6 / 5;
  }
  .section_5 {
    background-color: var(--White);
    padding: 3%;
    border-radius: 20px;
    grid-area: 4 / 1 / 6 / 3;
  }
  #testimonials-grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 2fr);
    grid-template-rows: repeat(3, 1fr) 2fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
}
